/*Classes colored*/
.header-red {
  color: red;
}

.header-blue {
  color: blue;
}

.header-green {
  color: green;
}

.paragraph-black {
  color: black;
}

.paragraph-gray {
  color: gray;
}
